@import url('reset.css');
@import url('style.css');
@import url('cores.css');
@import url('flexbox.css');
@import url('header.css');
@import url('footer.css');
@import url('cadastro.css');
@import url('login.css');
