/* CABEÇALHO */
*{
    font-family: "Quicksand", sans-serif;

}
.cabecalho{
    background-color: #7E8A99;
    
    display: flex;

    height: 60px;

    justify-content: space-around;
    
}

#imagem-feed{
    width: 40px;
    padding: 10px 0;
}

#imagem-header{
    width: 40px;
    padding: 10px 0;
}

/* PERFIL */

.perfil__info{
    height: 230px;
}

.perfil__info-imagem-de-fundo{
    width: 100vw;
    max-height: 250px;
    filter: blur(2px);
    position: absolute;
    top: 60px;
}

.perfil__info-conteudo{
    position: relative;
    top: 50px;
    left: 20px;
}

.perfil__info-foto-perfil{
    width: 80px;
    height: 120px;
    border-radius: 30px;
    float: left;
    margin-right: 20px;
}

.perfil__info-nome-perfil{
    color: var(--branco-gelo);

    font-size: 35px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;

    margin: 20px 0;
}

.seguidores-e-publicacoes{
    display: flex;
    margin-left: 30px ;
}

.perfil__info-seguidores{
    color: var(--branco-gelo);

    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
    
    margin-right: 20px;
}

.perfil__info-publicacoes{
    color: var(--branco-gelo);

    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
}

/* DESCRIÇÃO DE PERFIL */

.descricao__perfil{
    background-color: #7E8A99;

    height: 200px;
    padding: 0 20px; 
    margin-bottom: 70px;  
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.atividade__principal{
    color: var(--branco-gelo);

    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.atividade__principal-descricao{
    color: var(--branco-gelo);

    font-family: "Roboto", sans-serif;
    font-weight: lighter;

    margin-bottom: 20px;

    min-height: 40px;
    max-height: 70px;

    padding-left: 25px;

}

.tipo__trabalho{
    display: flex;
    padding-bottom: 30px;
    justify-content: space-around;
}

.tipo__trabalho-texto{
    color: var(--branco-gelo);

    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    width: 150px;
}

.tipo__trabalho-tag{
    background-color: #636363;
    border-radius: 20px;

    color: var(--branco-gelo);

    margin-left: 5px;

    padding: 3px;

    text-align: center;    
    
    width: 70px;
}

/*  Titulos das POSTAGENS */

.header__postagens{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

.header__postagens-tags{
    background-color: rgba(126, 139, 154, 0.5);
    border-radius: 10px 10px 0 0;
    
    color: var(--branco-gelo);

    font-size: 1.3rem;

    padding: 10px;

    text-align: center;

    width: 120px;
}

.header__postagens-tags-selecionada{
    background-color: rgb(126, 139, 154);
    border-radius: 10px 10px 0 0;
    
    color: var(--branco-gelo);

    font-size: 1.8rem;

    padding: 5px;
}

/* postagens feitas */

.postagens__feitas{
    background-color: #7E8A99;
    min-height: calc(100vh - 60px - 230px - 250px);

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding-top: 50px;

    
}

.conteudo{
    width: 180px;
    height: 120px;

    border-radius: 5px;
}


