/* CABEÇALHO */
*{
    font-family: "Arial", sans-serif;

}

main{
    max-width: 100%;
}

@media screen and (min-width: 768px){
    main{
        margin: 0;

    }
}

.cabecalho{
    background-color: #7E8A99;    
    height: 60px;    
}

.container{
    display: flex;
    justify-content: space-around;
}

#imagem-feed{
    width: 40px;
    padding: 10px 0;
}

#imagem-header{
    width: 40px;
    padding: 10px 0;
}

@media screen and (min-width: 975px){
    .container{
        max-width: 975px;
    }
}

/* PERFIL */

.perfil__info{
    height: 230px;
}

@media screen and (min-width: 975px){
    .perfil__info{
        max-width: 975px;
        margin: 0 auto;
    }
}



.imagem__fundo{
    background-image: url("../img/img_acoes_ilustrativas/wallArt.jpg");
    
    background-size: cover;
    
    filter: blur(2px);
    
    height: 250px;
    
    position: absolute;

    top: 60px;
    width: 100vw;
}


.perfil__info-conteudo{
    position: relative;
    top: 50px;
    left: 20px;
    width: 90%;
}

.perfil__info-foto-perfil{
    width: 80px;
    height: 120px;
    border-radius: 30px;
    float: left;
    margin-right: 20px;
}

.perfil__info-nome-perfil{
    color: var(--branco-gelo);

    font-size: 35px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;

    margin: 20px 0;
}

.seguidores-e-publicacoes{
    display: flex;
    margin-left: 30px ;
}

.perfil__info-seguidores{
    color: var(--branco-gelo);

    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
    
    margin-right: 20px;
}

.perfil__info-publicacoes{
    color: var(--branco-gelo);

    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
    font-weight: lighter;
}

@media screen and (min-width: 768px){
    .imagem__fundo {
        object-fit: fill;
    }

    .perfil__info-foto-perfil{
        height: 140px;
        
        margin-right: 50px;

        left: 40px;

        position: relative;

        width: 100px;

    }
    
    .perfil__info-nome-perfil{
        font-size: 3rem;

        margin-bottom: 40px;

        left: 40px;

        position: relative;

    }
    
    .perfil__info-seguidores, .perfil__info-publicacoes{
        font-size:2rem;

        left: 40px;

        position: relative;

    }
    
    
}

@media screen and (min-width: 900px){

    .imagem__fundo {
        left: 50%;
        transform: translateX(-50%);
        
        max-width: 975px;
        
    }
    
}




/* DESCRIÇÃO DE PERFIL */

.descricao__perfil{
    align-items: center;
    
    background-color: #7E8A99;    

    height: 200px;

    justify-content: center;

    padding: 0 20px; 

    margin-bottom: 70px;  
    
}

.atividade__principal{
    color: var(--branco-gelo);

    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding: 20px 0 0 25px ;
}

.atividade__principal-descricao{
    color: var(--branco-gelo);

    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;

    margin-bottom: 20px;

    min-height: 40px;
    max-height: 70px;
    
    padding: 0 25px 0 35px;

}

.tipo__trabalho{
    display: flex;

    justify-content: flex-start;

    margin: 0 auto;

    padding: 0 0 30px 15px;

}

.tipo__trabalho-texto{
    color: var(--branco-gelo);

    font-family: "Roboto", sans-serif;
    font-size: 1rem;

    margin: 0 5px;

}

.tipo__trabalho-tag{
    background-color: #636363;
    border-radius: 20px;

    color: var(--branco-gelo);

    font-size: .8rem;

    margin-left: 5px;

    padding: 3px;

    text-align: center;    
    
    width: 60px;
}

@media screen and (min-width: 768px){
    .atividade__principal-descricao{
        font-size: 1.5rem
    }

    .tipo__trabalho-texto{
        font-size: 1.5rem;
    }

    .tipo__trabalho-tag{
        font-size: 1.3rem;
        width: 80px;
    }
}

@media screen and (min-width: 975px){
    
    .descricao__perfil{
        padding: 0;
        margin: 0 20px;
    }

    .descricao__perfil{
        max-width: 975px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
}
/*  Titulos das POSTAGENS */

.header__postagens{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

.header__postagens-tags{
    background-color: rgba(126, 139, 154, 0.5);
    border-radius: 10px 10px 0 0;
    
    color: var(--branco-gelo);

    font-size: 1.2rem;

    padding: 5px;

    text-align: center;

    width: 100px;
}

.header__postagens-tags-selecionada{
    background-color: rgb(126, 139, 154);
    border-radius: 10px 10px 0 0;
    
    color: var(--branco-gelo);

    padding: 5px;
}

@media screen and (min-width: 768px){
    
    .header__postagens-tags{
        font-size: 1.7rem;
        width: 150px;
    }
    
    
}

@media screen and (min-width: 1024px){

    .header__postagens{
        display: grid;
        grid-template-columns: auto auto auto;
        max-width: 975px;
        margin: 0 auto;
    }
}


/* postagens feitas */

.postagens__feitas{
    background-color: #7E8A99;
    
    display: grid;

    grid-template-columns: auto auto;
    
    justify-content: space-around;
    
    min-height: calc(100vh - 60px - 230px - 250px);

    padding-top: 50px;

    width: 100%;
    
}

.conteudo{
    width: 180px;
    height: 130px;

    background-size: contain;

    border-radius: 5px;

    margin-bottom: 20px;
}

@media screen and (min-width: 768px){
    .postagens__feitas{
        grid-template-columns: auto auto auto;
        
        max-width: 975px;
        margin: 0 auto;
        
        border-radius: 5px;
    }
    
    .conteudo {
        width: 210px;
        height: 150px;
    }
    
}


@media screen and (min-width: 1024px){
    .conteudo {
        width: 290px;
        height: 210px;
    }
}

